# Introduction

This notebook reads in the CSV with 2123 stocks that Renessaince Technolgies (a hedge fund) held according to their November 2019 F-13 filing. We randomly select 100 stock. For these we convert each CUSIP number to a ticker symbol. For that we look up each CUSIP number on the fedelity website. At the end we check that each ticker symbol exists.

## Import

In [120]:
import pandas as pd
import yfinance as yf

## Read the data

In [121]:
ls

01_stats_breast_cancer.ipynb       12_intro_to_recommenders_fm.ipynb
02_bayes.ipynb                     13_intro_to_ts_arima.ipynb
03_bayes_IMDB.ipynb                14_intro_to_arch.ipynb
04_bayes_cancer.ipynb              15_intro_to_hmms.ipynb
05_intro_to_glms.ipynb             F13_Renaissance_tech.csv
06_intro_to_logreg.ipynb           F13_Renaissance_tech.txt
08_intro_to_dts-checkpoint.ipynb   Stock_Tickers.ipynb
09_intro_to_rfs.ipynb              TimeSeries.pdf
10_intro_to_gbts.ipynb             stocks.csv
11_intro_to_knn_kmeans.ipynb

In [122]:
df = pd.read_csv('F13_Renaissance_tech.csv')
del df['Unnamed: 0']
del df['index']
df['TICKER'] = ""
df.head()

,NAME_OF_ISSUER,CUSIP,VALUE,SHRS_OR_PRN_AMT,SOLE_VOTING_AUTH,NO_VOTING_AUTH,TICKER
0,1347 PPTY INS HLDGS INC,68244P107,443,100562,91267,9295,
1,1ST CONSTITUTION BANCORP,31986N102,2359,125800,119245,6555,
2,1ST SOURCE CORP,336901103,15320,335014,319352,15662,
3,3M CO,88579Y101,17640,107300,61987,45313,
4,A10 NETWORKS INC,002121101,15770,2272400,2226300,46100,

In [123]:
df.shape

(2123, 7)

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2123 entries, 0 to 2122
Data columns (total 7 columns):
NAME_OF_ISSUER      2123 non-null object
CUSIP               2123 non-null object
VALUE               2123 non-null int64
SHRS_OR_PRN_AMT     2123 non-null int64
SOLE_VOTING_AUTH    2123 non-null int64
NO_VOTING_AUTH      2123 non-null int64
TICKER              2123 non-null object
dtypes: int64(4), object(3)
memory usage: 116.2+ KB

## Taking Sample

In [125]:
print(df.sample(100, random_state=42).index.to_list())

[818, 1912, 1503, 808, 1493, 585, 1705, 1775, 1229, 1169, 1273, 744, 1571, 1053, 952, 67, 1921, 1041, 1237, 1437, 289, 564, 1200, 2053, 1319, 1773, 571, 561, 321, 1910, 342, 433, 710, 888, 1847, 809, 1075, 1298, 873, 765, 1431, 111, 1428, 70, 1448, 1433, 1728, 886, 1904, 240, 1903, 892, 1247, 1449, 1975, 905, 1611, 1249, 382, 128, 2031, 422, 184, 620, 29, 298, 1540, 2058, 756, 471, 1852, 1424, 1318, 1888, 584, 1307, 51, 1549, 1882, 788, 1749, 1851, 889, 1427, 900, 410, 869, 1057, 324, 1990, 2015, 307, 1610, 281, 588, 109, 705, 1688, 1456, 581]

In [126]:
cusip_list = df.sample(100, random_state=42).index.to_list()

In [127]:
pd.set_option("display.max_rows", 200)
df.iloc[cusip_list]['CUSIP']

818     359523107
1912    893662106
1503    715347100
808     357023100
1493    710577107
585     249906108
1705    81577F109
1775    84763A108
1229    55262C100
1169    535219109
1273    60040X103
744     33767D105
1571    74640Y106
1053    46187W107
952     43300A203
67      013872106
1921    896945201
1041    460690100
1237    58506Q109
1437    68633D103
289     05591B109
564     12662P108
1200    55608B105
2053    946760105
1319    635017106
1773    847215100
571     237194105
561     232109108
321     12008R107
1910    893529107
342     134429109
433     G21082105
710     302081104
888     393222104
1847    871851101
809     358010106
1075    47580P103
1298    55345K103
873     384109104
765     335834107
1431    68571X103
111     030506109
1428    68404L102
70      015351109
1448    690732102
1433    68621T102
1728    825704109
886     391416104
1904    89214A102
240     06424J103
1903    89214P109
892     399473107
1247    589433101
1449    693718108
1975    91388P105
905     410120109
1611    75902K106
1249    589584101
382     124830100
128     03272L108
2031    928298108
422     166764100
184     04621X108
620     262037104
29      00739L101
298     101121101
1540    74102M103
2058    949090104
756     32051X108
471     192176105
1852    87612E106
1424    683715106
1318    634865109
1888    88677Q109
584     24983L104
1307    553810102
51      00847L100
1549    743315103
1882    882681109
788     346232101
1749    78440X101
1851    G8675X107
889     398231100
1427    68404V100
900     40251W309
410     159864107
869     38141G104
1057    46266C105
324     12326C105
1990    90337L108
2015    92343V104
307     10922N103
1610    75886F107
281     09228F103
588     25179M103
109     03027X100
705     30049A107
1688    808541106
1456    697435105
581     248019101
Name: CUSIP, dtype: object

## Looking Up Ticker Symbols

We look for each sample record we use the CUSIP to retrieve the stock ticker symbol. This is done manually. The values are assigned to each sample record. The following web site is use for the manual lookup

https://quotes.fidelity.com/mmnet/SymLookup.phtml?reqforlookup=REQUESTFORLOOKUP&productid=mmnet&isLoggedIn=mmnet&rows=50&for=stock&by=cusip&criteria=40251W309&submit=Search

For those we could not find in the ticker symbol, we used the company name and googled the ticker name that way.

For all sample stocks we managed to find their ticker symbol.

In [128]:
# 818     359523107
df['TICKER'].iloc[818] = 'FTEK'

In [129]:
# 1912    893662106
df['TICKER'].iloc[1912] = 'TGA'

In [130]:
# 1503    715347100
df['TICKER'].iloc[1503] = 'PRSP'

In [131]:
# 808     357023100
df['TICKER'].iloc[808] = 'RAIL'

In [132]:
# 1493    710577107
df['TICKER'].iloc[1493] = 'PEBK'

In [133]:
# 585     249906108
df['TICKER'].iloc[585] = 'DSGX'

In [134]:
# 1705    81577F109
df['TICKER'].iloc[1705] = 'SEEL'

In [135]:
# 1775    84763A108
df['TICKER'].iloc[1775] = 'SPPI'

In [136]:
# 1229    55262C100
df['TICKER'].iloc[1229] = 'MBI'

In [137]:
# 1169    535219109
df['TICKER'].iloc[1169] = 'LIND'

In [138]:
# 1273    60040X103
df['TICKER'].iloc[1273] = 'MLND'

In [139]:
# 744     33767D105
df['TICKER'].iloc[744] = 'FCFS'

In [140]:
# 1571    74640Y106
df['TICKER'].iloc[1571] = 'PRPL'

In [141]:
# 1053    46187W107
df['TICKER'].iloc[1053] = 'INVH'

In [142]:
# 952     43300A203
df['TICKER'].iloc[952] = 'HLT'

In [143]:
# 67      013872106
df['TICKER'].iloc[67] = 'AA'

In [144]:
# 1921    896945201
df['TICKER'].iloc[1921] = 'TRIP'

In [145]:
# 1041    460690100
df['TICKER'].iloc[1041] = 'IPG'

In [146]:
# 1237    58506Q109
df['TICKER'].iloc[1237] = 'MEDP'

In [147]:
# 1437    68633D103
df['TICKER'].iloc[1437] = 'ORIT'

In [148]:
# 289     05591B109
df['TICKER'].iloc[289] = 'BMCH'

In [149]:
# 564     12662P108
df['TICKER'].iloc[564] = 'CVI'

In [150]:
# 1200    55608B105
df['TICKER'].iloc[1200] = 'MIC'

In [151]:
# 2053    946760105
df['TICKER'].iloc[2053] = 'WSTG'

In [152]:
# 1319    635017106
df['TICKER'].iloc[1319] = 'FIZZ'

In [153]:
# 1773    847215100
df['TICKER'].iloc[1773] = 'SPTN'

In [154]:
# 571     237194105
df['TICKER'].iloc[571] = 'DRI'

In [155]:
# 561     232109108
df['TICKER'].iloc[561] = 'CUTR'

In [156]:
# 321     12008R107
df['TICKER'].iloc[321] = 'BLDR'

In [157]:
# 1910    893529107
df['TICKER'].iloc[1910] = 'TRNS'

In [158]:
# 342     134429109
df['TICKER'].iloc[342] = 'CPB'

In [159]:
# 433     G21082105
df['TICKER'].iloc[433] = 'CYD'

In [160]:
# 710     302081104
df['TICKER'].iloc[710] = 'EXLS'

In [161]:
# 888     393222104
df['TICKER'].iloc[888] = 'GPRE'

In [162]:
# 1847    871851101
df['TICKER'].iloc[1847] = 'SYX'

In [163]:
# 809     358010106
df['TICKER'].iloc[809] = 'FEIM'

In [164]:
# 1075    47580P103
df['TICKER'].iloc[1075] = 'JELD'

In [165]:
# 1298    55345K103
df['TICKER'].iloc[1298] = 'MRC'

In [166]:
# 873     384109104
df['TICKER'].iloc[873] = 'GGG'

In [167]:
# 765     335834107
df['TICKER'].iloc[765] = 'FNWB'

In [168]:
# 1431    68571X103
df['TICKER'].iloc[1431] = 'ORC'

In [169]:
# 111     030506109
df['TICKER'].iloc[111] = 'AMWD'

In [170]:
# 1428    68404L102
df['TICKER'].iloc[1428] = 'OPCH'

In [171]:
# 70      015351109
df['TICKER'].iloc[70] = 'ALXN'

In [172]:
# 1448    690732102
df['TICKER'].iloc[1448] = 'OMI'

In [173]:
# 1433    68621T102
df['TICKER'].iloc[1433] = 'OBNK'

In [174]:
# 1728    825704109
df['TICKER'].iloc[1728] = 'SIBN'

In [175]:
# 886     391416104
df['TICKER'].iloc[886] = 'GWB'

In [176]:
# 1904    89214A102
df['TICKER'].iloc[1904] = 'CLUB'

In [177]:
# 240     06424J103
df['TICKER'].iloc[240] = 'BOCH'

In [178]:
# 1903    89214P109
df['TICKER'].iloc[1903] = 'TOWN'

In [179]:
# 892     399473107
df['TICKER'].iloc[892] = 'GRPN'

In [180]:
# 1247    589433101
df['TICKER'].iloc[1247] = 'MDP'

In [181]:
# 1449    693718108
df['TICKER'].iloc[1449] = 'PCAR'

In [182]:
# 1975    91388P105
df['TICKER'].iloc[1975] = 'ULH'

In [183]:
# 905     410120109
df['TICKER'].iloc[905] = 'HWC'

In [184]:
# 1611    75902K106
df['TICKER'].iloc[1611] = 'RM'

In [185]:
# 1249    589584101
df['TICKER'].iloc[1249] = 'VIVO'

In [186]:
# 382     124830100
df['TICKER'].iloc[382] = 'CBL'

In [187]:
# 128     03272L108
df['TICKER'].iloc[128] = 'PLAN'

In [188]:
# 2031    928298108
df['TICKER'].iloc[2031] = 'VSH'

In [189]:
# 422     166764100
df['TICKER'].iloc[422] = 'CVX'

In [190]:
# 184     04621X108
df['TICKER'].iloc[184] = 'AIZ'

In [191]:
# 620     262037104
df['TICKER'].iloc[620] = 'DRQ'

In [192]:
# 29      00739L101
df['TICKER'].iloc[29] = 'ADRO'

In [193]:
# 298     101121101
df['TICKER'].iloc[298] = 'BXP'

In [194]:
# 1540    74102M103
df['TICKER'].iloc[1540] = 'PSDO'

In [195]:
# 2058    949090104
df['TICKER'].iloc[2058] = 'WBT'

In [196]:
# 756     32051X108
df['TICKER'].iloc[756] = 'FHB'

In [197]:
# 471     192176105
df['TICKER'].iloc[471] = 'JVA'

In [198]:
# 1852    87612E106
df['TICKER'].iloc[1852] = 'TGT'

In [199]:
# 1424    683715106
df['TICKER'].iloc[1424] = 'OTEX'

In [200]:
# 1318    634865109
df['TICKER'].iloc[1318] = 'NKSH'

In [201]:
# 1888    88677Q109
df['TICKER'].iloc[1888] = 'TTSH'

In [202]:
# 584     24983L104
df['TICKER'].iloc[584] = 'DERM'

In [203]:
# 1307    553810102
df['TICKER'].iloc[1307] = 'MVBF'

In [204]:
# 51      00847L100
df['TICKER'].iloc[51] = 'AGRX'

In [205]:
# 1549    743315103
df['TICKER'].iloc[1549] = 'PGR'

In [206]:
# 1882    882681109
df['TICKER'].iloc[1882] = 'TXRH'

In [207]:
# 788     346232101
df['TICKER'].iloc[788] = 'FOR'

In [208]:
# 1749    78440X101
df['TICKER'].iloc[1749] = 'SLG'

In [209]:
# 1851    G8675X107
df['TICKER'].iloc[1851] = 'TANH'

In [210]:
# 889     398231100
df['TICKER'].iloc[889] = 'GRIF'

In [211]:
# 1427    68404V100
df['TICKER'].iloc[1427] = 'OPTN'

In [212]:
# 900     40251W309
df['TICKER'].iloc[900] = 'GURE'

In [213]:
# 410     159864107
df['TICKER'].iloc[410] = 'CRL'

In [214]:
# 869     38141G104
df['TICKER'].iloc[869] = 'GS'

In [215]:
# 1057    46266C105
df['TICKER'].iloc[1057] = 'IQV'

In [216]:
# 324     12326C105
df['TICKER'].iloc[324] = 'BFST'

In [217]:
# 1990    90337L108
df['TICKER'].iloc[1990] = 'USPH'

In [218]:
# 2015    92343V104
df['TICKER'].iloc[2015] = 'VZ'

In [219]:
# 307     10922N103
df['TICKER'].iloc[307] = 'BHF'

In [220]:
# 1610    75886F107
df['TICKER'].iloc[1610] = 'REGN'

In [221]:
# 281     09228F103
df['TICKER'].iloc[281] = 'BB'

In [222]:
# 588     25179M103
df['TICKER'].iloc[588] = 'DVN'

In [223]:
# 109     03027X100
df['TICKER'].iloc[109] = 'AMT'

In [224]:
# 705     30049A107
df['TICKER'].iloc[705] = 'EPM'

In [225]:
# 1688    808541106
df['TICKER'].iloc[1688] = 'SWM'

In [226]:
# 1456    697435105
df['TICKER'].iloc[1456] = 'PANW'

In [227]:
# 581     248019101
df['TICKER'].iloc[581] = 'DLX'

## Check Tickers

make sure we have one hundred records with a value for stock ticker symbol. Also, check that we can retrieve data from yahoo finance using the ticker symbol. The cells below show we have 100 tickers and that we can retrieve stock data for each of the ticker symbols.

In [228]:
df.shape

(2123, 7)

In [229]:
df.loc[df.TICKER == ''].count()

NAME_OF_ISSUER      2023
CUSIP               2023
VALUE               2023
SHRS_OR_PRN_AMT     2023
SOLE_VOTING_AUTH    2023
NO_VOTING_AUTH      2023
TICKER              2023
dtype: int64

In [230]:
for ticker in df['TICKER'].loc[df.TICKER != '']:
    try:
        asset = yf.Ticker(ticker)
        hist = asset.history(period="24mo")
        print("Ticker:", ticker, "found.")
    except:
        print("***Ticker:", ticker, "not found!")

Ticker: ADRO found.
Ticker: AGRX found.
Ticker: AA found.
Ticker: ALXN found.
Ticker: AMT found.
Ticker: AMWD found.
Ticker: PLAN found.
Ticker: AIZ found.
Ticker: BOCH found.
Ticker: BB found.
Ticker: BMCH found.
Ticker: BXP found.
Ticker: BHF found.
Ticker: BLDR found.
Ticker: BFST found.
Ticker: CPB found.
Ticker: CBL found.
Ticker: CRL found.
Ticker: CVX found.
Ticker: CYD found.
Ticker: JVA found.
Ticker: CUTR found.
Ticker: CVI found.
Ticker: DRI found.
Ticker: DLX found.
Ticker: DERM found.
Ticker: DSGX found.
Ticker: DVN found.
Ticker: DRQ found.
Ticker: EPM found.
Ticker: EXLS found.
Ticker: FCFS found.
Ticker: FHB found.
Ticker: FNWB found.
Ticker: FOR found.
Ticker: RAIL found.
Ticker: FEIM found.
Ticker: FTEK found.
Ticker: GS found.
Ticker: GGG found.
Ticker: GWB found.
Ticker: GPRE found.
Ticker: GRIF found.
Ticker: GRPN found.
Ticker: GURE found.
Ticker: HWC found.
Ticker: HLT found.
Ticker: IPG found.
Ticker: INVH found.
Ticker: IQV found.
Ticker: JELD found.
Ticker: LIND found.
Ticker: MIC found.
Ticker: MBI found.
Ticker: MEDP found.
Ticker: MDP found.
Ticker: VIVO found.
Ticker: MLND found.
Ticker: MRC found.
Ticker: MVBF found.
Ticker: NKSH found.
Ticker: FIZZ found.
Ticker: OTEX found.
Ticker: OPTN found.
Ticker: OPCH found.
Ticker: ORC found.
Ticker: OBNK found.
Ticker: ORIT found.
Ticker: OMI found.
Ticker: PCAR found.
Ticker: PANW found.
Ticker: PEBK found.
Ticker: PRSP found.
Ticker: PSDO found.
Ticker: PGR found.
Ticker: PRPL found.
Ticker: REGN found.
Ticker: RM found.
Ticker: SWM found.
Ticker: SEEL found.
Ticker: SIBN found.
Ticker: SLG found.
Ticker: SPTN found.
Ticker: SPPI found.
Ticker: SYX found.
Ticker: TANH found.
Ticker: TGT found.
Ticker: TXRH found.
Ticker: TTSH found.
Ticker: TOWN found.
Ticker: CLUB found.
Ticker: TRNS found.
Ticker: TGA found.
Ticker: TRIP found.
Ticker: ULH found.
Ticker: USPH found.
Ticker: VZ found.
Ticker: VSH found.
Ticker: WSTG found.
Ticker: WBT found.

## Save File

Now that we have validated the ticker symbols, save the file so we can use it as a basis for the simple stock trading system.

In [231]:
ls

01_stats_breast_cancer.ipynb       12_intro_to_recommenders_fm.ipynb
02_bayes.ipynb                     13_intro_to_ts_arima.ipynb
03_bayes_IMDB.ipynb                14_intro_to_arch.ipynb
04_bayes_cancer.ipynb              15_intro_to_hmms.ipynb
05_intro_to_glms.ipynb             F13_Renaissance_tech.csv
06_intro_to_logreg.ipynb           F13_Renaissance_tech.txt
08_intro_to_dts-checkpoint.ipynb   Stock_Tickers.ipynb
09_intro_to_rfs.ipynb              TimeSeries.pdf
10_intro_to_gbts.ipynb             stocks.csv
11_intro_to_knn_kmeans.ipynb

In [232]:
df.to_csv('stocks.csv', index=False)

In [233]:
sdf = pd.read_csv('stocks.csv')
sdf

,NAME_OF_ISSUER,CUSIP,VALUE,SHRS_OR_PRN_AMT,SOLE_VOTING_AUTH,NO_VOTING_AUTH,TICKER
0,1347 PPTY INS HLDGS INC,68244P107,443,100562,91267,9295,NaN
1,1ST CONSTITUTION BANCORP,31986N102,2359,125800,119245,6555,NaN
2,1ST SOURCE CORP,336901103,15320,335014,319352,15662,NaN
3,3M CO,88579Y101,17640,107300,61987,45313,NaN
4,A10 NETWORKS INC,002121101,15770,2272400,2226300,46100,NaN
...,...,...,...,...,...,...,...
2118,ZIX CORP,98974P100,25732,3554095,3554095,0,NaN
2119,ZOMEDICA PHARMACEUTICALS COR,98979F107,13,36220,13281,22939,NaN
2120,ZOVIO INC,98979V102,3442,1747100,1747100,0,NaN
2121,ZUMIEZ INC,989817101,1137,35900,100,35800,NaN
2122,ZYMEWORKS INC,98985W102,9313,375507,375507,0,NaN

In [234]:
sdf.loc[~sdf.TICKER.isna()].count()

NAME_OF_ISSUER      100
CUSIP               100
VALUE               100
SHRS_OR_PRN_AMT     100
SOLE_VOTING_AUTH    100
NO_VOTING_AUTH      100
TICKER              100
dtype: int64

In [235]:
sdf = sdf.loc[sdf.TICKER > ''].reset_index()
if 'level_0' in sdf.columns:
    del sdf['level_0']
if 'index' in sdf.columns:
    del sdf['index']
sdf.shape

(100, 7)

In [236]:
sdf.head()

,NAME_OF_ISSUER,CUSIP,VALUE,SHRS_OR_PRN_AMT,SOLE_VOTING_AUTH,NO_VOTING_AUTH,TICKER
0,ADURO BIOTECH INC,00739L101,2902,2738200,2590838,147362,ADRO
1,AGILE THERAPEUTICS INC,00847L100,2876,2427100,2427100,0,AGRX
2,ALCOA CORP,013872106,130047,6479662,5941743,537919,AA
3,ALEXION PHARMACEUTICALS INC,015351109,279096,2849667,2849667,0,ALXN
4,AMERICAN TOWER CORP NEW,03027X100,336963,1523824,1523824,0,AMT

In [237]:
for i, ticker in enumerate(sdf['TICKER']):
    try:
        asset = yf.Ticker(ticker)
        shortName = asset.info['shortName']
        hist = asset.history(period="3mo")
        print(ticker, "shortName=", shortName, 
              "sdf.NAME_OF_ISSUER=", sdf.NAME_OF_ISSUER.iloc[i])
    except:
        print("***Short name not found for ticker:", ticker, "not found!")

ADRO shortName= Aduro Biotech, Inc. sdf.NAME_OF_ISSUER= ADURO BIOTECH INC
AGRX shortName= Agile Therapeutics, Inc. sdf.NAME_OF_ISSUER= AGILE THERAPEUTICS INC
AA shortName= Alcoa Corporation sdf.NAME_OF_ISSUER= ALCOA CORP
ALXN shortName= Alexion Pharmaceuticals, Inc. sdf.NAME_OF_ISSUER= ALEXION PHARMACEUTICALS INC
AMT shortName= American Tower Corporation (REI sdf.NAME_OF_ISSUER= AMERICAN TOWER CORP NEW
AMWD shortName= American Woodmark Corporation sdf.NAME_OF_ISSUER= AMERICAN WOODMARK CORPORATIO
PLAN shortName= Anaplan, Inc. sdf.NAME_OF_ISSUER= ANAPLAN INC
AIZ shortName= Assurant, Inc. sdf.NAME_OF_ISSUER= ASSURANT INC
BOCH shortName= Bank of Commerce Holdings (CA) sdf.NAME_OF_ISSUER= BANK COMM HLDGS
BB shortName= BlackBerry Limited sdf.NAME_OF_ISSUER= BLACKBERRY LTD
BMCH shortName= BMC Stock Holdings, Inc. sdf.NAME_OF_ISSUER= BMC STK HLDGS INC
BXP shortName= Boston Properties, Inc. sdf.NAME_OF_ISSUER= BOSTON PROPERTIES INC
BHF shortName= Brighthouse Financial, Inc. sdf.NAME_OF_ISSUER= BRIGHTHOUSE FINL INC
BLDR shortName= Builders FirstSource, Inc. sdf.NAME_OF_ISSUER= BUILDERS FIRSTSOURCE INC
BFST shortName= Business First Bancshares, Inc. sdf.NAME_OF_ISSUER= BUSINESS FIRST BANCSHARES IN
CPB shortName= Campbell Soup Company sdf.NAME_OF_ISSUER= CAMPBELL SOUP CO
CBL shortName= CBL & Associates Properties, In sdf.NAME_OF_ISSUER= CBL & ASSOC PPTYS INC
CRL shortName= Charles River Laboratories Inte sdf.NAME_OF_ISSUER= CHARLES RIV LABS INTL INC
***Short name not found for ticker: CVX not found!
CYD shortName= China Yuchai International Limi sdf.NAME_OF_ISSUER= CHINA YUCHAI INTL LTD
JVA shortName= Coffee Holding Co., Inc. sdf.NAME_OF_ISSUER= COFFEE HLDG CO INC
***Short name not found for ticker: CUTR not found!
CVI shortName= CVR Energy Inc. sdf.NAME_OF_ISSUER= CVR ENERGY INC
DRI shortName= Darden Restaurants, Inc. sdf.NAME_OF_ISSUER= DARDEN RESTAURANTS INC
DLX shortName= Deluxe Corporation sdf.NAME_OF_ISSUER= DELUXE CORP
DERM shortName= Dermira, Inc. sdf.NAME_OF_ISSUER= DERMIRA INC
DSGX shortName= The Descartes Systems Group Inc sdf.NAME_OF_ISSUER= DESCARTES SYS GROUP INC
***Short name not found for ticker: DVN not found!
DRQ shortName= Dril-Quip, Inc. sdf.NAME_OF_ISSUER= DRIL QUIP INC
EPM shortName= Evolution Petroleum Corporation sdf.NAME_OF_ISSUER= EVOLUTION PETROLEUM CORP
EXLS shortName= ExlService Holdings, Inc. sdf.NAME_OF_ISSUER= EXLSERVICE HOLDINGS INC
***Short name not found for ticker: FCFS not found!
FHB shortName= First Hawaiian, Inc. sdf.NAME_OF_ISSUER= FIRST HAWAIIAN INC
FNWB shortName= First Northwest Bancorp sdf.NAME_OF_ISSUER= FIRST NORTHWEST BANCORP
FOR shortName= Forestar Group Inc sdf.NAME_OF_ISSUER= FORESTAR GROUP INC
RAIL shortName= Freightcar America, Inc. sdf.NAME_OF_ISSUER= FREIGHTCAR AMER INC
FEIM shortName= Frequency Electronics, Inc. sdf.NAME_OF_ISSUER= FREQUENCY ELECTRS INC
FTEK shortName= Fuel Tech, Inc. sdf.NAME_OF_ISSUER= FUEL TECH INC
GS shortName= Goldman Sachs Group, Inc. (The) sdf.NAME_OF_ISSUER= GOLDMAN SACHS GROUP INC
GGG shortName= Graco Inc. sdf.NAME_OF_ISSUER= GRACO INC
GWB shortName= Great Western Bancorp, Inc. sdf.NAME_OF_ISSUER= GREAT WESTN BANCORP INC
GPRE shortName= Green Plains, Inc. sdf.NAME_OF_ISSUER= GREEN PLAINS INC
GRIF shortName= Griffin Industrial Realty, Inc. sdf.NAME_OF_ISSUER= GRIFFIN INL RLTY INC
GRPN shortName= Groupon, Inc. sdf.NAME_OF_ISSUER= GROUPON INC
***Short name not found for ticker: GURE not found!
HWC shortName= Hancock Whitney Corporation sdf.NAME_OF_ISSUER= HANCOCK WHITNEY CORPORATION
***Short name not found for ticker: HLT not found!
IPG shortName= Interpublic Group of Companies, sdf.NAME_OF_ISSUER= INTERPUBLIC GROUP COS INC
INVH shortName= Invitation Homes Inc. sdf.NAME_OF_ISSUER= INVITATION HOMES INC
IQV shortName= IQVIA Holdings, Inc. sdf.NAME_OF_ISSUER= IQVIA HLDGS INC
JELD shortName= JELD-WEN Holding, Inc. sdf.NAME_OF_ISSUER= JELD-WEN HLDG INC
LIND shortName= Lindblad Expeditions Holdings I sdf.NAME_OF_ISSUER= LINDBLAD EXPEDITIONS HLDGS I
MIC shortName= Macquarie Infrastructure Corpor sdf.NAME_OF_ISSUER= MACQUARIE INFRASTRUCTURE COR
MBI shortName= MBIA Inc. sdf.NAME_OF_ISSUER= MBIA INC
MEDP shortName= Medpace Holdings, Inc. sdf.NAME_OF_ISSUER= MEDPACE HLDGS INC
MDP shortName= Meredith Corporation sdf.NAME_OF_ISSUER= MEREDITH CORP
VIVO shortName= Meridian Bioscience Inc. sdf.NAME_OF_ISSUER= MERIDIAN BIOSCIENCE INC
MLND shortName= Millendo Therapeutics, Inc. sdf.NAME_OF_ISSUER= MILLENDO THERAPEUTICS INC
MRC shortName= MRC Global Inc. sdf.NAME_OF_ISSUER= MRC GLOBAL INC
MVBF shortName= MVB Financial Corp. sdf.NAME_OF_ISSUER= MVB FINANCIAL CORP
NKSH shortName= National Bankshares, Inc. sdf.NAME_OF_ISSUER= NATIONAL BANKSHARES INC VA
FIZZ shortName= National Beverage Corp. sdf.NAME_OF_ISSUER= NATIONAL BEVERAGE CORP
OTEX shortName= Open Text Corporation sdf.NAME_OF_ISSUER= OPEN TEXT CORP
OPTN shortName= OptiNose, Inc. sdf.NAME_OF_ISSUER= OPTINOSE INC
***Short name not found for ticker: OPCH not found!
ORC shortName= Orchid Island Capital, Inc. sdf.NAME_OF_ISSUER= ORCHID IS CAP INC
OBNK shortName= Origin Bancorp, Inc. sdf.NAME_OF_ISSUER= ORIGIN BANCORP INC
ORIT shortName= Oritani Financial Corp. sdf.NAME_OF_ISSUER= ORITANI FINL CORP DEL
***Short name not found for ticker: OMI not found!
PCAR shortName= PACCAR Inc. sdf.NAME_OF_ISSUER= PACCAR INC
PANW shortName= Palo Alto Networks, Inc. sdf.NAME_OF_ISSUER= PALO ALTO NETWORKS INC
***Short name not found for ticker: PEBK not found!
PRSP shortName= Perspecta Inc. sdf.NAME_OF_ISSUER= PERSPECTA INC
PSDO shortName= Presidio, Inc. sdf.NAME_OF_ISSUER= PRESIDIO INC
PGR shortName= Progressive Corporation (The) sdf.NAME_OF_ISSUER= PROGRESSIVE CORP OHIO
PRPL shortName= Purple Innovation, Inc. sdf.NAME_OF_ISSUER= PURPLE INNOVATION INC
REGN shortName= Regeneron Pharmaceuticals, Inc. sdf.NAME_OF_ISSUER= REGENERON PHARMACEUTICALS
RM shortName= Regional Management Corp. sdf.NAME_OF_ISSUER= REGIONAL MGMT CORP
SWM shortName= Schweitzer-Mauduit Internationa sdf.NAME_OF_ISSUER= SCHWEITZER-MAUDUIT INTL INC
SEEL shortName= Seelos Therapeutics, Inc. sdf.NAME_OF_ISSUER= SEELOS THERAPEUTICS INC
SIBN shortName= SI-BONE, Inc. sdf.NAME_OF_ISSUER= SI BONE INC
SLG shortName= SL Green Realty Corp sdf.NAME_OF_ISSUER= SL GREEN RLTY CORP
***Short name not found for ticker: SPTN not found!
***Short name not found for ticker: SPPI not found!
***Short name not found for ticker: SYX not found!
TANH shortName= Tantech Holdings Ltd. sdf.NAME_OF_ISSUER= TANTECH HLDGS LTD
***Short name not found for ticker: TGT not found!
TXRH shortName= Texas Roadhouse, Inc. sdf.NAME_OF_ISSUER= TEXAS ROADHOUSE INC
TTSH shortName= TILE SHOP HLDGS INC sdf.NAME_OF_ISSUER= TILE SHOP HLDGS INC
TOWN shortName= Towne Bank sdf.NAME_OF_ISSUER= TOWNEBANK PORTSMOUTH VA
CLUB shortName= Town Sports International Holdi sdf.NAME_OF_ISSUER= TOWN SPORTS INTL HLDGS INC
TRNS shortName= Transcat, Inc. sdf.NAME_OF_ISSUER= TRANSCAT INC
***Short name not found for ticker: TGA not found!
TRIP shortName= TripAdvisor, Inc. sdf.NAME_OF_ISSUER= TRIPADVISOR INC
ULH shortName= Universal Logistics Holdings, I sdf.NAME_OF_ISSUER= UNIVERSAL LOGISTICS HLDGS IN
USPH shortName= U.S. Physical Therapy, Inc. sdf.NAME_OF_ISSUER= U S PHYSICAL THERAPY INC
***Short name not found for ticker: VZ not found!
VSH shortName= Vishay Intertechnology, Inc. sdf.NAME_OF_ISSUER= VISHAY INTERTECHNOLOGY INC
***Short name not found for ticker: WSTG not found!
***Short name not found for ticker: WBT not found!

In [238]:
snm_list = ['CVX', 'CUTR', 'DVN', 'FCFS', 'GURE',
            'HLT', 'OPCH', 'OMI', 'PEBK', 'SPTN',
            'SPPI', 'SYX', 'TGT', 'TGA', 'VZ',
            'WSTG', 'WBT']

for ticker in snm_list:
    try:
        idx = sdf[sdf['TICKER'] == ticker].index
        asset = yf.Ticker(ticker)
        hist = asset.history(period="3mo")
        print("\tticker=", ticker, "\tsdf.NAME_OF_ISSUER=", sdf.NAME_OF_ISSUER.loc[idx])
    except:
        print("***Short name not found for ticker:", ticker, "not found!")

	ticker= CVX 	sdf.NAME_OF_ISSUER= 18    CHEVRON CORP NEW
Name: NAME_OF_ISSUER, dtype: object
	ticker= CUTR 	sdf.NAME_OF_ISSUER= 21    CUTERA INC
Name: NAME_OF_ISSUER, dtype: object
	ticker= DVN 	sdf.NAME_OF_ISSUER= 27    DEVON ENERGY CORP NEW
Name: NAME_OF_ISSUER, dtype: object
	ticker= FCFS 	sdf.NAME_OF_ISSUER= 31    FIRSTCASH INC
Name: NAME_OF_ISSUER, dtype: object
	ticker= GURE 	sdf.NAME_OF_ISSUER= 44    GULF RESOURCES INC
Name: NAME_OF_ISSUER, dtype: object
	ticker= HLT 	sdf.NAME_OF_ISSUER= 46    HILTON WORLDWIDE HLDGS INC
Name: NAME_OF_ISSUER, dtype: object
	ticker= OPCH 	sdf.NAME_OF_ISSUER= 64    OPTION CARE HEALTH INC
Name: NAME_OF_ISSUER, dtype: object
	ticker= OMI 	sdf.NAME_OF_ISSUER= 68    OWENS & MINOR INC NEW
Name: NAME_OF_ISSUER, dtype: object
	ticker= PEBK 	sdf.NAME_OF_ISSUER= 71    PEOPLES BANCORP N C INC
Name: NAME_OF_ISSUER, dtype: object
	ticker= SPTN 	sdf.NAME_OF_ISSUER= 82    SPARTANNASH CO
Name: NAME_OF_ISSUER, dtype: object
	ticker= SPPI 	sdf.NAME_OF_ISSUER= 83    SPECTRUM PHARMACEUTICALS INC
Name: NAME_OF_ISSUER, dtype: object
	ticker= SYX 	sdf.NAME_OF_ISSUER= 84    SYSTEMAX INC
Name: NAME_OF_ISSUER, dtype: object
	ticker= TGT 	sdf.NAME_OF_ISSUER= 86    TARGET CORP
Name: NAME_OF_ISSUER, dtype: object
	ticker= TGA 	sdf.NAME_OF_ISSUER= 92    TRANSGLOBE ENERGY CORP
Name: NAME_OF_ISSUER, dtype: object
	ticker= VZ 	sdf.NAME_OF_ISSUER= 96    VERIZON COMMUNICATIONS INC
Name: NAME_OF_ISSUER, dtype: object
	ticker= WSTG 	sdf.NAME_OF_ISSUER= 98    WAYSIDE TECHNOLOGY GROUP INC
Name: NAME_OF_ISSUER, dtype: object
	ticker= WBT 	sdf.NAME_OF_ISSUER= 99    WELBILT INC
Name: NAME_OF_ISSUER, dtype: object